# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment files
.env
.venv/
venv/
ENV/
env/
*.env

# Jupyter Notebook hidden files
~$*.ipynb

# VS Code and IDE-specific folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak