aiohttp==3.9.1
aiosignal==1.3.1
alabaster==0.7.16
anyio==4.1.0
ApiDoc==1.4.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid==3.0.2
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
backports.tarfile==1.1.1
beautifulsoup4==4.12.3
black==23.12.0
bleach==6.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.0
contourpy==1.2.0
coverage==7.3.3
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.8
docutils==0.20.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
flake8==6.1.0
flit==3.9.0
flit_core==3.9.0
fonttools==4.49.0
fqdn==1.5.1
frozenlist==1.4.1
fuzzywuzzy==0.18.0
gh_issues @ file:///Users/dorisavedikian/gh_issues
git-filter-repo==2.45.0
grep==0.3.2
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
iniconfig==2.0.0
install==1.3.5
ipdb==0.13.13
ipykernel==6.27.1
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isodate==0.6.1
isoduration==20.11.0
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-cache==1.0.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.2
jupyter-events==0.9.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.1
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.6.0
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.7.1
jupyter_server==2.12.1
jupyter_server_terminals==0.5.0
jupyterlab==4.0.9
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupytext==1.16.0
keyring==25.2.1
kiwisolver==1.4.5
Levenshtein==0.25.1
loguru==0.7.2
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.2.0
multidict==6.0.4
mypy==1.7.1
mypy-extensions==1.0.0
myst-nb==1.0.0
myst-parser==2.0.0
# Editable install with no version control (nalter==0.6.0)
-e /Volumes/USDA HD/NAL/nalter
nbclient==0.9.0
nbconvert==7.16.6
nbformat==5.9.2
nest-asyncio==1.5.8
nh3==0.2.17
nltk==3.8.1
notebook==7.0.6
notebook_shim==0.2.3
numpy==1.26.2
openpyxl==3.1.2
overrides==7.4.0
packaging==24.0
pandas==2.1.4
pandas-stubs==2.1.1.230928
pandoc==2.3
pandocfilters==1.5.1
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pkginfo==1.10.0
platformdirs==4.2.0
pluggy==1.3.0
plumbum==1.8.2
ply==3.11
prometheus-client==0.19.0
prompt-toolkit==3.0.43
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.1.0
Pygments==2.17.2
pylint==3.0.3
pymarc==5.1.0
pyparsing==3.1.1
pytest==7.4.3
pytest-cov==4.1.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-Levenshtein==0.25.1
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
rapidfuzz==3.9.4
rdflib==7.0.0
readme_renderer==43.0
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
ruamel.base==1.0.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
Send2Trash==1.8.2
six==1.16.0
skosify==2.3.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-autodoc-typehints==1.25.2
sphinx-gallery==0.15.0
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.25
stack-data==0.6.3
terminado==0.18.0
testpath==0.6.0
threadpoolctl==3.3.0
tinycss2==1.2.1
toml==0.10.2
tomli_w==1.0.0
tomlkit==0.12.3
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
twine==5.1.0
types-python-dateutil==2.8.19.14
types-pytz==2023.3.1.1
types-tabulate==0.9.0.20240106
typing_extensions==4.9.0
tzdata==2023.3
uri-template==1.3.0
urllib3==2.2.1
virtualenv==20.25.0
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
widgetsnbextension==4.0.9
wordcloud==1.9.3
xlrd==2.0.1
XlsxWriter==3.1.9
xmltodict==0.13.0
yarl==1.9.4
zipp==3.17.0
